/* ===== reset ===== */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
input::-ms-reveal,input::-ms-clear {display: none;}

/* ===== root ===== */
:root{
    --color-black: #000;
    --color-white: #fff;
    --color-grey: grey;
    --color-main: #00032a;
    --color-post: #03051d;
}

/* ===== global ===== */
body{
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-main);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}
.body--active{
    overflow: hidden;
}
.wrapper{
    min-height: 100%;
    display: flex; 
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
.container{
    padding: 0 10px;
    max-width: 340px;
    margin: 0 auto;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
}
.input{
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    color: var(--color-white);
}
.input-reset{
    background-color: transparent;
    border: none;
    outline: none;
}
.button-reset{
    background-color: transparent;
    border: none;
    outline: none;
}

.close-modal{
    width: 18px;
    height: 18px;
}
/* ===== header ===== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-post);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}
.header__title{
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
}
.header__search{
    height: 25px;
}

.header__search-input{
    height: 100%;
    background-color: var(--color-main);
}
.header__avatar{
    width: 35px;
    height: 35px; 
    border-radius: 50%;
    overflow: hidden;
}
.header__avatar-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ===== main ===== */
.main{
    margin-top: 60px;
}

/* ===== blog ===== */
.blog__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ===== post ===== */
.post{
    width: 100%;
    min-height: 390px;
    margin-bottom: 10px;
}
.post:last-child{
    margin-bottom: 80px;
}
.post__body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-post);
    border-radius: 10px;
    padding: 15px;
}
.post__header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.post__avatar{
    margin-right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.post__avatar-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__main{
    flex: 1 1 auto;
    margin-bottom: 10px;
}
.post__image{
    border-radius: 10px;
    overflow: hidden;
    height: 270px;
}
.post__image-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post__functionality{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post__add{
    display: flex;
    align-items: center;
}
.post__add-button{
    height: 25px;
    padding: 0 15px;
    background-color: var(--color-main);
    color: var(--color-white);
}
.post__add-button:not(:last-child){
    margin-right: 5px;
}

.post__description{
    font-size: 13px;
}
.post__description--button{
    color: var(--color-grey);
}

/* ===== footer ===== */
.blog__spinner{
    display: none;
}
.blog__spinner{
    display: block;
}
.footer{
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: var(--color-post);
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.footer__body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__add{
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: var(--color-black);
    color: var(--color-white);
    top: -20px;
    padding-bottom: 5px;
}


/* ===== modal ===== */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.534);
    opacity: 0; 
    visibility: hidden;
    transition: all 0.5s ease;
}
.modal--active{
    opacity: 1;
    visibility: visible;
}
.modal__body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.modal__content{
    width: 350px;
    min-height: 480px;
    background-color: var(--color-post);
    color: var(--color-white);
    padding: 15px;
    border-radius: 10px;
}
.modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.modal__title{
  font-size: 22px;  
}
.modal__close{
    color: var(--color-white);
    font-size: 18px;
}

/* ===== form modal ===== */

.form__file{
    margin-bottom: 10px;
    position: relative;
}

.form__add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    opacity: 0.4;
    border-radius: 10px;
    margin-bottom: 10px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.form__add--hide{
    display: none;
}
.form__add-subtitle{
    font-size: 40px;
    font-weight: 500;
}
.form__add-file{
    display: none;
}
.form__file-preview{
    height: 190px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.form__file-preview--active{
    opacity: 1;
    visibility: visible;
}
.form__file-preview__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form__describe{
    margin-bottom: 10px;
    height: 160px;
}
.form__describe-username{
    height: 100%;
    background-color: var(--color-main);
}
.form__describe-description{
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
    color: var(--colro-white);
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

.form__footer{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form__create{
    background-color: var(--color-main);
    color: var(--color-white);
    font-weight: 600;
    padding: 0 15px;
}



/* ===== popup ===== */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.534);
    opacity: 0; 
    visibility: hidden;
    transition: all 0.5s ease;
}
.popup--active{
    opacity: 1;
    visibility: visible;
}
.popup__body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.popup__content{
    width: 350px;
    min-height: 360px;
    background-color: var(--color-post);
    color: var(--color-white);
    padding: 15px;
    border-radius: 10px;
}
.popup__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.popup__title{
  font-size: 22px;  
}
.popup__close{
    color: var(--color-white);
    font-size: 18px;
}

/* ===== form modal ===== */
.form-popup__file{
    margin-bottom: 10px;
    position: relative;
}
.form-popup__add{
    position: absolute;
    bottom: -15px;
    right: 91px;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    border-radius: 50%;
    margin-bottom: 10px;
}
.form-popup__add-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.form-popup__add-file{
    display: none;
}

.form-popup__file-preview{
    max-width: 200px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}
.form-popup__file-preview__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-popup__nickname{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.form-popup__username{
    height: 30px;
    margin-bottom: 10px;
}
.form-popup__username-input{
    background-color: var(--color-main);
    height: 100%;
}

.form-popup__update{
    background-color: var(--color-main);
    color: var(--color-white);
    font-weight: 600;
    padding: 0 15px;
}

.form-popup__update{
    width: 100%;
}

/* ===== spinner ===== */
.spinner{
    height: 60vh;
    width: 100%;
    display: none;
}
.spinner--active{
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes ldio-be6fe29sbx9 {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-be6fe29sbx9 div {
    position: absolute;
    width: 102px;
    height: 102px;
    border: 8.16px solid #848383;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-be6fe29sbx9 div {
    animation: ldio-be6fe29sbx9 1s linear infinite;
    top: 102px;
    left: 102px
  }
  .loadingio-spinner-rolling-is8eylvnl98 {
    width: 204px;
    height: 204px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-be6fe29sbx9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-be6fe29sbx9 div { box-sizing: content-box; }
  











